<div id="Blog" ng-controller='BlogController'>
    <div ng-show='postFlag'>현재 작성된 글이 없습니다.</div>
    <div ng-show='urlFlag'>존재하지 않는 url입니다.</div>
    <div class='post_container' ng-repeat="post in posts">
        <div class='post_title'>{{post.title}}</div>
        <div clas='post_date'>{{post.created_at.split("T")[0]}}</div>
        <div class='post_content'>{{post.content}}</div>
        <span ng-click='delete_post(post.id)'>글 삭제</span><span ng-click='update_post(post.id)'>글 수정</span>

        <div>댓글</div>
        <div ng-repeat="comment in post.comments">            
            <span>{{comment.username}}</span><span>{{comment.content}}</span>
        </div>
        <form class='post_opinion_container' ng-submit='post_opinion(post.id, opinion)'>
            <input type='text' ng-model="opinion">
            <button type='submit'>댓글달기</button>
        </form>
    </div>
</div>