<div id="SignUp">
    <div class='signup_container'>
        <div class='signup_field_container'>
            <span class='signup_title'>Username</span>
            <input class='signup_field username' type='text'>
        </div>
        <div class='signup_field_container'>
            <span class='signup_title'>Password</span>
            <input class='signup_field password' type='password'>
        </div>
        <div class='signup_field_container'>
            <span class='signup_title'>Password Confirmation</span>
            <input class='signup_field password_confirmation' type='password'>
        </div>
        <button class='create_account_button'>Create Account</button>
    </div>
</div>