<div id="SignIn" ng-controller='SignInController'>
    <form class='signin_container' ng-submit='signIn()'>
        <div class='signin_field_container'>
            <span class='signin_title'>Username</span>
            <input class='signin_field username' type='text' ng-model="username">
        </div>
        <div class='signin_field_container'>
            <span class='signin_title'>Password</span>
            <input class='signin_field password' type='password' ng-model="password">
        </div>
        <button type='submit' class='sign_in_button'>Sign In</button>
    </form>
</div>