//@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
//@import url(http://fonts.googleapis.com/css?family=Mate);

a, u {
    text-decoration: none;
    color: inherit;
}

html {
    width: 100%;
    

    body {
        width: 100%;
        

        background-color: rgba(235, 235, 235, 0.5);
    }
}

.blog_container {
    width: 900px;
    height: 100%;

    margin: 0 auto;

    background-color: white;
}