<div id="Header">
    <div class="header_right_button_container">
        <span class='header_right_button'>Log In</span>
        <span class='header_right_button'>Create Account</span>
    </div>
</div>